In [1]:
import pandas as pd
import numpy as np
import pyreadstat

In [14]:
fpath = './Datasets/W42_Jan19/ATP W42.sav'

df, meta = pyreadstat.read_sav(fpath)

In [12]:
df['Q6F1_W42'].map(meta.variable_value_labels['Q6F1_W42'])\
                .value_counts(normalize=True)

Trust the research findings MORE    0.533243
Makes NO DIFFERENCE either way      0.358940
Trust the research findings LESS    0.100180
Refused                             0.007637
Name: Q6F1_W42, dtype: float64

In [10]:
meta_dict = dict(zip(meta.column_names, meta.column_labels))

In [ ]:
demographics = df.columns[-25:-1]
labels = meta.column_labels[-25:-1]

col_dict = zip(demographics, labels)

for k, v in col_dict:
    print(k + ': ' + v)

In [15]:
df['F_RACETHN'].map(meta.variable_value_labels['F_RACETHN']).value_counts(normalize=True)

White non-Hispanic    0.647625
Hispanic              0.160842
Black non-Hispanic    0.113351
Other                 0.064740
Refused               0.013441
Name: F_RACETHN, dtype: float64

In [12]:
test = pd.crosstab(df['Q6F1_W42'] \
        .map(meta.variable_value_labels['Q6F1_W42']), \
        df['F_IDEO'].map(meta.variable_value_labels['F_IDEO']), \
        dropna=True, normalize='columns') \
        .loc[meta.variable_value_labels['Q6F1_W42'].values()] \
        .loc[:,meta.variable_value_labels['F_IDEO'].values()]*100

In [3]:
# Accounting for weight in determing response to Q6F1 from FORM 2

df[['Q6F1_W42', 'WEIGHT_W42']].groupby('Q6F1_W42') \
                              .sum() / df.loc[df['FORM_W42'] == 2.0, ['WEIGHT_W42']].sum() * 100

          WEIGHT_W42
Q6F1_W42
1.0        50.731415
2.0        10.137040
3.0        36.231776
99.0        0.715290